<footer class="bg-dark text-light row row-cols-5 py-2 my-2 ">
    <div class="col">

        <p class="text-muted">© Soy Jona 2022</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
        <h5>Punto1</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a [routerLink]="['punto1']" class="nav-link p-0 text-muted">Un simple
                    slide</a></li>

        </ul>
    </div>

    <div class="col">
        <h5>Punto2</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a [routerLink]="['punto2']" class="nav-link p-0 text-muted">Juego de
                    ahorcadito</a></li>

        </ul>
    </div>

    <div class="col">
        <h5>Punto3</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a [routerLink]="['punto3']" class="nav-link p-0 text-muted">Formulario</a>
            </li>

        </ul>
    </div>
</footer>